<div class="card">
  <br/>  
  <div class="row">
  <div class="col-1">
  Show: </div>
  <div class="col-2"><select class="form-control" on-change="showNumMovies()" bindon-ngModel="ratingList.limit">
    <option *ngFor="let movNum of showNumOfMovies" [value]="movNum">{{movNum}}</option>
  </select>
  </div>
  <div class="col-2">
     Sort By:
  </div>
  <div class="col-2"> <select class="form-control" on-change="sortByFn()" bindon-ngModel="ratingList.sortBy">
    <option *ngFor="let sort of sortBy" [value]="sort.value">{{sort.name}}</option>
  </select>
  </div>
    </div>  
  <div [ngClass]="{'alert-success':msg.success, 'alert-danger':msg.success === false}">{{msg.message}}</div>
  <app-rating *ngFor="let movie of movieList" on-deleteMovie="deleteMovie($event)" bind-movieList="movie"></app-rating>
</div>
