<div class="card col-sm-12">
  <div class="col-sm-2">
  Show: <select class="form-control" on-change="showNumMovies()" bindon-ngModel="ratingList.limit">
    <option *ngFor="let movNum of showNumOfMovies" [value]="movNum">{{movNum}}</option>
  </select>
  </div>
  <div class="col-sm-2">
     Sort By: <select class="form-control" on-change="sortByFn()" bindon-ngModel="ratingList.sortBy">
    <option *ngFor="let sort of sortBy" [value]="sort.value">{{sort.name}}</option>
  </select>
  </div>
   <div class=" col-sm-2">
     <input type="text" class="form-control" name="searchMovie" bindon-ngModel="ratingList.search" placeholder="Search Movie">
     <input type="button" on-click="searchMovie()" value="SEARCH" class="btn btn-primary"/>
  </div>
    <button class="btn" on-click="testObserve(5)">Observe</button>  
  <div [ngClass]="{'alert-success':msg.success, 'alert-danger':msg.success === false}">{{msg.message}}</div>
  <app-rating *ngFor="let movie of movieList" on-deleteMovie="deleteMovie($event)" bind-movieList="movie"></app-rating>
</div>
