<div [ngClass]="{'alert-success':msg.success, 'alert-danger':msg.success === false}">
  {{msg.message}}
</div>
<div class="row">
<div class="card col" style= "text-align: left;">
<ng-template #editTemp>
  <div style="width: 100px" >
    <a href="javascript:void(0)"  on-click="updateMovie(movieDetails?._id)" appClickStopPropagation>save</a>
    <a href="javascript:void(0)"  on-click="cancel()" appClickStopPropagation>cancel</a>
  </div>
   <ul class="movie-list">
    <li></li>
    <li><input type="text" name="movieName" bindon-ngModel="movieDetails.movieName" [value]='movieDetails?.movieName' /></li>
        <li><select bindon-ngModel="movieDetails.genre" id="genre">        
        <option *ngFor="let genre of genres" bind-value="genre">{{genre}}</option>
      </select></li>
    <li><select id="rating" name="rating" bindon-ngModel="movieDetails.rating">      
        <option *ngFor="let rate of ratings" bind-value="rate">{{rate}}</option>
      </select></li>
    <li><input type="text" name="director" bindon-ngModel="movieDetails.director" value='{{movieDetails?.director}}' /></li>

    <li><input type="text" name="cast" bindon-ngModel="movieDetails.cast" value='{{movieDetails?.cast}}' /></li>
    <li></li>
  </ul>

  </ng-template>
<div *ngIf="isEdit else editTemp"> 
  <ul class="movie-list">
    <li><input type="checkbox" appMultiCheck value="{{movieDetails?._id}}" (click)="selectDel(movieDetails?._id)" name="movieId"></li>
    <li>{{movieDetails?.movieName}}</li>
    <li>{{movieDetails?.genre}}</li>
    <li>{{movieDetails?.rating}}</li>
    <li>{{movieDetails?.director}}</li>
    <li>{{movieDetails?.cast}}</li>
    <li *ngIf="!isTabs && loggedIn"> <a  on-click="enableEdit(movieDetails?._id)"  class="fa fa-pencil">&nbsp;</a></li>
   <li *ngIf="isTabs && loggedIn"> <a on-click="editMovie.emit()"  appClickStopPropagation class="fa fa-pencil">&nbsp;</a></li>
    <li *ngIf="loggedIn"><a  on-click="delete(movieDetails?._id)" appClickStopPropagation class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span></a> </li>
  </ul>
  </div>
</div>
</div>
